<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<h2>Car list</h2>



<div class="car" *ngFor="let car of cars">
    <div>id : {{car['id']}}</div>
    <div>model : {{car['model']}}</div>
    <div>company : {{car['company']}}</div>
</div>

<hr/>


<ul>
    <li  *ngFor="let car of cars">
        <div>id : {{car['id']}}</div>
        <div>model : {{car['model']}}</div>
        <div>company : {{car['company']}}</div> 
    </li>
</ul>

<hr/>


<table border="1">
<thead>
    <th>id</th>
    <th>model</th>
    <th>company</th>
</thead>

<tbody>
    <tr *ngFor="let car of cars">
        <td>{{car['id']}}</td>
        <td>{{car['model']}}</td>
        <td>{{car['company']}}</td>
    </tr>
</tbody>

</table>